/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


 
* {
    margin: 0;
    padding: 0;
}

html,
input,
select,
textarea {
	font-family: Montserrat sans-serif;
    color: #dfdede;
    }

html, 
body {
	background-color: #2e2e2e;
    font-size: 10px;
    line-height: 1.4em;
    overflow-x: hidden;
    height: 960px;
}


div.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
	color: #ccc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
	width: 745px;
	margin: 0 auto;
	margin-bottom: -50px;
	
}

ul.top_nav {
	list-style: none;
	overflow: hidden;
}

nav li {float:left;
		padding: 5px 0px 5px 0px;
		background-color:#34333c;
		opacity: 0.8;
}

nav li:hover {
	opacity: 1;
}

.top_nav li a, form {
	font-size: 12px;
    color: white;
    display: block;
    line-height: 45px;
    padding: 0 10px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);

}

.top_nav li a {
	padding: 5px 10px 5px 10px auto;
}

.top_nav li a:hover {
	background-color: #2e2e2e;
}

.top_nav form {
	display: inline;
	padding: 0;
}

.menu_icon {
	display: none;
}

.lowresnav {
	background-color: #34333C;
	color: white;
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #FFF;
}

.active {
	background-color: #000;
}

.auditionButtons {
	width: 160px;
	margin: 0 auto;
	margin-top: 10px;
}

#loginText, #password, .loginText {
    width: 95px;
    font-family: Montserrat, sans-serif;
    padding: 5px 10px 5px 10px;
    margin-right: -5px;
    border: 0 none;
    height: 55px;
    color: white;
    outline: none;
    background: #259b70;
    box-sizing: border-box;
    transition: all 0.15s;
    border-radius: 0 none;
    -moz-border-radius: 0 none;
    -webkit-border-radius: 0 none;
}

.loginText {
	height: 30px;
	width: 120px;
}

#loginText {
	width: 60px;
}

#loginText:focus, #password:focus, .loginText:focus {
	background-color: #1a6e4f;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}

.submitButton {
	border: 0 none;
	font-family: Montserrat;
	font-size: 8pt;
	color: white;
    background-color: #1f7f5c;
    width: auto;
    padding: 8px;
    height: 55px;
    box-shadow: 0px 3px 5px #000;
}

.lowreslogin {
	display: none;
}

.logoutButton {
	border: 0 none;
	background-color: #1f7f5c;
	color: white;
	width: auto;
	float: right;
	padding: 0;
	margin-right: 5px;
	height: 45px;
	cursor: pointer;
}

	
h1 {
	display: none;
	position: relative;
	left: 50px;
	color: #white;
	font-family: Montserrat, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	line-height: 1em;
	text-transform: uppercase;
	text-shadow: 1px 2px 0 0;
	margin-top: -10px;
}
	
#logo {
	width: 140px;
	height: 230px;
	background-color: #000;
	border-right: 1px solid white;
	font-size: 10pt;
	line-height: 1em;
	
}

#logo p {
	line-height: 0.5em;
	padding-left: 10px;
	max-width: 200px;
}

img.header_img {
	position: relative;
	top: -181px;
	left: 142px;
	height: 230px;
	width: 595px;
}

p.ACS {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 78pt;
	margin-top: 2px;
	padding-top: 18px;
}

p.bedfort {
	font-family: 'Mr Bedfort';
	font-size: 24pt;
	
}

p.montserrat {
	font-size: 18pt;
	font-family: Montserrat;
	font-weight: bold;
	margin: 5px 0 15px 0;
}

p.symphony {
	font-size: 22pt;
	border-bottom: 3px solid #259b70;
}

p.stc {
	font-family: 'Wire One', sans-serif;
	font-size: 36pt;
	color: #34333C;
}

p.minn {
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
	text-align: justify;
	text-justify: auto;
	color: #34333C;
	margin-top: 10px;
	margin-left: 2px;
}

.logoWords {
	position: relative;
	top: 28px;
}

.cityInfo {
	position: relative;
	top: 40px;
}

.header_img {
	background: url('img/acs.jpg');
}

.sidebar li{
	list-style-type: none;
	
}

#sidebar {
	float: right;
	position: relative;
	top: -475px;
	background-color: #34333c;
	font-size: 10pt;
	font-family: Montserrat;
	color: white;
	width: 200px;
	min-width: 160px;
	height: 250px;
	opacity: 0.85;
	margin-right: 7%;
}

ul.sidebar {
	margin-top: 20px;
}

#sidebar #signUp {
	margin: 10px 0 10px 0;
	
}
#sidebar #emailText {
	width: 75%;
	margin-left: 5px;
}

#sidebar p {
	padding-left: 10px;
	margin-bottom: -5px;
}

#donate {
	margin-top: 30px;
}

#pp {
	margin-top: 10px;
}

#main_content form td {
	text-align: right;
	margin-right: 5px;
}

#main_content .meetingForm tr {
	margin-bottom: -10px;
}

#main_content textarea, #main_content input {
	float: left;
	margin-left: 5px;
}

#main_content textarea, #main_content input {
	color: #000;
	line-height: 1.4em;
}

#main_content .input {
	width: 60px;
}

.meetingLabel, .meeting {
	position: relative;
	left: -40px;	
}

#main_content .meeting {
	width: 100px;
}

.meetingForm {
	margin-top: 10px;
	margin-left: 30px;
	color: black;
}

.meetingForm input .black {
	color: black;
}

.meetingForm textarea {
	margin-top: 10px;	
}


.button, .button2 {
	border: 0 none;
    background-color: #259b70;
    width: 80px;
    float: left;
    color: white;
    padding: 0;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.4em;
    height: 30px;
    cursor: pointer;
    margin-left: 550px;
}


.button2 {
    line-height: 1em;
    height: 20px;
}

.loginButton {
	position: relative;
	width: 50px;
	left: 50%;
}

table.sql_results {
	background-color: #2e2e2e;
	font-size: 12pt;
	border: 1px solid #333;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.social {
	padding: 2px 0 0 10px;
}

.social:first-child {
	padding-left: 15px;
}

#emailText {
    width: 190px;
    padding-left: 10px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 30px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #259b70;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}

 #sidebar #emailText:focus #emailButton:hover {
	background-color: #1f7f5c;
}

#emailButton {
	border: 0 none;
    background-color: #1f7f5c;
    background-image: ;
    width: 30px;
    float: left;
    padding: 0;
    text-align: center;
    height: 30px;
    cursor: pointer;
    margin-bottom: 15px;
}

#pp {
	width: 65%;
	margin: 15px 0 0 15px;
	float: none;
}

.shadow {
	box-shadow: 0px 3px 5px #000;
}

#main_content input[type=submit] {
	color: white;
}

#main_content {
	overflow: scroll;
	background-color: #34333c;
	opacity: 0.85;
	position: relative;
	top: 75px;
	width: 57.5%;
	margin-left: 7%;
	height: 550px;
}


#main_content h2 {
	color: white;
	font: bold 18pt Montserrat;
	padding-left: 40px;
	padding-top: 20px;
	margin-bottom: -20px;
}

#main_content h5 {
	font: bold 12pt Montserrat;
	padding-left: 6px;
	margin-bottom: -10px;
	margin-left: 80px;
	color: white;
}

#main_content p {
	padding: 20px 40px;
	color: #bebebf;
	font-size: 10pt;
	line-height: 1.6em;
	font-family: Montserrat;
}

#main_content table.sql_results {
	font-size: 10pt;
	line-height: 1.2em;
	background-color: #34333C;
	margin: 20px;
}

#main_content table.sql_results td {
	font-family: arial;
	color: white;
	padding: 5px;
	height: 20px;
	max-height: 60px;
	overflow: scroll;
	background-color: #2e2e2e;
}

#main_content table.sql_results td {
	border-bottom: 3px solid #34333c;
}

#main_content table.sql_results td:first-child {
	
	width: 80px;
	text-align: center;
}

#main_content:focus, #main_content:hover, #sidebar:focus, #sidebar:hover {
	opacity: 1;
}

.members {
	margin-left: 120px;
	font-size: 11pt;
}

 hr {
	color: #2e2e2e;
	size: 5px;
	width: 70%;
	margin: auto;
}

td {
	margin: -10px 0 0 5px;
}

#axel {
	position: relative;
	top: 20px;
	float: right;
	padding: 10px;
	margin: 0 40px 20px 10px;
	opacity: 1 !important;
}

#paxel {
	margin-top: 20px;
}

 #main_content .date {
	font-size: 14px;
	font-weight: bold;
	margin: -20px 0;
}

#main_content .location {
	font-weight: bold;
	font-size: 14pt;
	margin: -20px 0 -15px 0;
	line-height: 1.2;
}

#main_content .location a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;
	margin: -20px 0 -15px 0;
	line-height: 1.2;
}

#main_content .music, #main_content .title {
	font-size: 10pt;
	font-style: italic;
	margin-top: -50px;
}

#main_content .title {
	font-size: 12pt;
	color: #bebebf;
	text-shadow: 0 1px 2px 0;
	padding: 30px 20px;
}

#main_content .program {
	color: #259b70;
	font-size: 12pt;
	text-transform: uppercase;
	margin-top: -20px;
}

#main_content .program a {
	color: #259b70;
	font-size: 12pt;
	text-transform: uppercase;
	margin-top: -20px;
	text-decoration: none;
}

#main_content #spring {
	font-family: 'Wire One', sans-serif;
	font-size: 32pt;
	font-weight: bold;
	font-style: normal;
	margin-top: -60px;
	margin-bottom: -2px;
}
#main_content .orchestra {
	font-family: Montserrat;
	font-weight: bold;
	font-style: normal;
}

#main_content #beth {
	font-size: 18pt;
}

#main_content #tech, #main_content #amadeus {
	font-size: 14pt;
}

#main_content .conductor {
	font-style: normal;
}
#main_content .ticket {
	font-size: 8pt;
	margin-top: -10px;
}

#main_content .ticket a {
	color: #bebebf;
	text-decoration: none;
}

#main_content .ticket a:hover {
	color: #1f7f5c;
}

#main_content #note {
	font-size: 7pt;
	margin-top: -30px;
	margin-bottom: -10px;
}

#main_content .loginForm {
	position: relative;
	top: 40px;
	height: 140px;
	width: 200px;
	font-size: 12px;
	padding: 40px;
	padding-left: 30px;
	border: 2px solid gray;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer {
	height: 50px;
	float: right;
	position: relative;
	top: 150px;
	left: 200px;
	margin-right: 20px;
	font-size: 8pt;
	font-family: Montserrat;
}

footer a {
	text-decoration: none;
	color: #1f7f5c;
}

footer a:hover {
	background-color: #1f7f5c;
	color: white;
}

input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clear {
	float: none;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width: 650px) {

	#paxel {
		margin-top: -30px;
	}	
	
	#axel {
		float: none;
		margin: 0 0 20px 18%;
	}
}

@media screen and (max-width: 740px) {

	#login {
		display: none;
	}
	
	.lowreslogin {
		display: inline;
		background-color: #259b70;
	}
	
	#container {
		width: 601px;
		margin-bottom: -50px;
		margin: 0 auto;
	}
	
	#main_content {
		width: 60%;
		margin: 10px auto;
		left: -110px;
		top: 65px;
	}
	
	#sidebar {
		position: relative;
		top: -500px;
		margin-top: 5px;
		margin-right: 10px;
	}
	
	img.header_img {
		width: 450px;
	}
	
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
@media screen and (max-width: 595px) {

	.header_img {
		display: none;
	}

	#logo {
		width: 80%;
	}
	
	P.ACS {
		border-bottom: 3px solid #259b70;
	}

	.bedfort, .montserrat {
		position: relative;
		left: 140px;
		top: -80px;
		font-size: 40pt;
	}
	
	p.symphony {
		border: 0 none;
	}
	
	.top_nav {
		display: none;
	}
	
	.menu_icon {
		height: 45px;
	}
	
	.lowresnav {
		display: inline;
	}
	
	#main_content {
		width: 90%;
		margin: 0 auto;
		left: 0;
	}
	
	#sidebar {
		float: left;
		top: 70px;
		margin-left: 5%;
		width: 280px;
		height: 160px;
	}
	
	.sidebar li {
		float: left;
	}
	
	.connect {
		margin-top: -5px;
	}
	
	.social {
		padding: 0;
		margin: -10px -5px 0 0;
	}
	
	.social:first-child {
		margin-left: 5px;
	}

	#pp {
		width: 100px;
		height: auto;
	}
	
	#donate {
		margin-top: 5px;
	}
	
	#pp {
		position: relative;
		top: -18px;
	}

	footer {
		left: 0;
	}

	} 
	*/